<a href="https://colab.research.google.com/github/asosam91/SisDist2/blob/master/TareaBBTarea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os, datetime
import pandas as pd
import dask

In [0]:
if not os.path.exists('data'):
  os.mkdir('data')

In [0]:
def name(i):
  '''fecha para un archivo dado el indice i'''
  return str(datetime.date(2001,1,1) + i*datetime.timedelta(days=1))

In [48]:
# se crean los datasets con dask
df = dask.datasets.timeseries()
df.to_csv('data/*.csv', name_function=name)

['data/2001-01-01.csv',
 'data/2001-01-02.csv',
 'data/2001-01-03.csv',
 'data/2001-01-04.csv',
 'data/2001-01-05.csv',
 'data/2001-01-06.csv',
 'data/2001-01-07.csv',
 'data/2001-01-08.csv',
 'data/2001-01-09.csv',
 'data/2001-01-10.csv',
 'data/2001-01-11.csv',
 'data/2001-01-12.csv',
 'data/2001-01-13.csv',
 'data/2001-01-14.csv',
 'data/2001-01-15.csv',
 'data/2001-01-16.csv',
 'data/2001-01-17.csv',
 'data/2001-01-18.csv',
 'data/2001-01-19.csv',
 'data/2001-01-20.csv',
 'data/2001-01-21.csv',
 'data/2001-01-22.csv',
 'data/2001-01-23.csv',
 'data/2001-01-24.csv',
 'data/2001-01-25.csv',
 'data/2001-01-26.csv',
 'data/2001-01-27.csv',
 'data/2001-01-28.csv',
 'data/2001-01-29.csv',
 'data/2001-01-30.csv']

In [49]:
# se leen los archivos con pandas
df = pd.read_csv('data/2001-01-01.csv')
df.head()

             timestamp    id      name         x         y
0  2000-01-01 00:00:00  1012       Ray -0.210941  0.424764
1  2000-01-01 00:00:01  1033       Bob -0.806528  0.022945
2  2000-01-01 00:00:02  1003    Ingrid -0.008916 -0.891003
3  2000-01-01 00:00:03  1021  Patricia  0.248899 -0.515094
4  2000-01-01 00:00:04  1000     Sarah  0.064672 -0.228752

In [0]:
es_wendy = (df['name'] == 'Wendy')

In [0]:
montos_wendy = ( df.loc[es_wendy, 'x'])

In [0]:
wendy_diff = montos_wendy.sum()

In [53]:
wendy_diff

54.819609934964

la funcion anterior para todos los archivos

In [0]:
nombre = 'data/2001-01-'
fechas = []
for i in range(1, 31):
  cadena = nombre + '{:02d}'.format(i) + '.csv'
  fechas.append(pd.read_csv(cadena))

In [0]:
variable = []
for i in range(len(fechas)):
  es_wendy = (fechas[i]['name'] == 'Wendy')
  montos_wendy = (fechas[i].loc[es_wendy, 'x'])
  wendy_diff = montos_wendy.sum()
  variable.append(wendy_diff)

In [0]:
suma = 0
for i in range(len(variable)):
  suma = suma + variable[i]

In [59]:
suma

148.57854399964089